@using LinkPro_Proyect.Models
@model List<HorarioCLS>
@{
    int cont = (int)ViewBag.searchCount;
 }
<div class="" role="main">
    <div class="">
        <div class="x_content">
            <div class="table-responsive">
                <div id="divHorario" class="">
                    <table class="table table-striped jambo_table">
                        <thead>
                            <tr class="headings">
                                <th>
                                    @Html.LabelFor(model => Model[0].nombreEspecialidad)
                                </th>
                                <th>
                                    @Html.LabelFor(model => Model[0].fecha_atention)
                                </th>
                                <th>
                                    @Html.LabelFor(model => Model[0].hora_atention)
                                </th>
                                <th>
                                    @Html.LabelFor(model => Model[0].hora_fin)
                                </th>
                                <th>
                                    @Html.LabelFor(model => Model[0].nombreDisp)
                                </th>
                                <th><label>Acciones</label></th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nombreEspecialidad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fecha_atention)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HoraInicio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HoraFin)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nombreDisp)
                                </td>
                                <td>
                                    <button type="button" onclick="Editar(id=@item.horarioid)" class="btn btn-info fa fa-pencil-square-o" data-toggle="modal" data-target="#exampleModal">
                                    </button>
                                    <button type="button" onclick="Eliminar(id=@item.horarioid)" class="btn btn-danger fa fa-trash-o" data-toggle="modal" data-target="#exampleModalConfirmacion">
                                    </button>
                                </td>
                            </tr>
                        }
                    </table>
                    <div class="col">
                        @if (cont == 0)
                        {
                            <img src="~/Content/PlantillaAlela/images/Error Busqueda.PNG" alt="" width="500" />

                            <div class="pull-left col-lg-2">
                                No se han encontraron resultados de la Busqueda
                            </div>
                        }
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>



