@using LinkPro_Proyect.Models
@model List<PacienteCLS>
@{
    ViewBag.Title = "Pacientes";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!-- Agregar Nombre de los Pacientes que PERTENECEN A ESTE PROFESIONAL (MEDICOID) -->
<div class="x_panel">
    <div class="x_title">
        <h2>Tus Pacientes</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                Listado de Pacientes que se han atendido con usted
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

    @foreach (var item in Model)
    {
        <div class="x_content">
            <br />
            <form class="form-label-left input_mask">

                <div class="col-md-2 col-sm-2 has-feedback">
                    <div>
                        <img src="~/Content/PlantillaAlela/images/user.png" alt="Imagen de Usuario" class="img-circle profile_img">
                    </div>
                </div>
                <div class="x_panel col-md-6 col-sm-6 has-feedback-left">
                    <div class="panel-body">
                        <span class="fa fa-user form-control-feedback right" aria-hidden="false"></span>
                        <div class="left">
                            @item.nombre
                        </div>
                    </div>
                </div>

                <div class="x_panel col-md-6 col-sm-6 has-feedback-left">
                    <div class="panel-body">
                        <span class="fa fa-user form-control-feedback right" aria-hidden="false"></span>
                        <div class="left">
                            @item.apellido
                        </div>
                    </div>
                </div>

                <div class="x_panel col-md-6 col-sm-6 has-feedback-left">
                    <div class="panel-body">
                        <span class="fa fa-bullseye form-control-feedback right" aria-hidden="false"></span>
                        <div class="left">
                            @item.estadoactual
                        </div>
                    </div>
                </div>
                <div class="content col">
                    <div class="col">
                        <div class="form-group row">
                            <div class="col-md-9 col-sm-9 offset-md-3">
                                <div class="col-md-6 col-sm-6 ">
                                    @Html.ActionLink("Datos del Paciente", "DetallesPaciente", "GestionPaciente", new { id = @item.pacienteid }, new { @class = "btn btn-primary" })
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    @Html.ActionLink("Historial de Citas", "DetalleCitas", "Cita", new { id = @item.pacienteid }, new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="ln_solid"></div>
        </div>
    }
</div>